
.header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 335px;
    height: 47px;
    align-items: center;
    margin: 20px auto 0 auto;
    &__logo{
        width: 145px;
        height: 47px;
    }
    &__nav{
        display: flex;
        gap: 10px;
        &__link--active{
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) { 
    .header{
        &__logo{
            width: 30%;
        }
        &__link{
            gap: 10px;
            & a{
                font-size: 12px;
            }
        }
    }
}